{% extends './base.html' %}

{% block title %}Programacion de Laboratorios{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Edicion</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editar" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="idpro" class="form-label">ID Programacion </label>
                        <input type="text" name="idpro" value="{{datos.id}}" class="form-control" id="idpro" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="txtlaboratorio" class="form-label">Laboratorio:</label>
                        <select name="txtlaboratorio" class="form-select" id="txtlaboratorio">
                                <option selected value="{{ laboratorio.id }}">{{ laboratorio.nombre }}</option>
                                {% for l in laboratorios %}
                                <option value="{{l.id}}">{{l.nombre}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="txtcurso_dictado" class="form-label">Curso Dictado:</label>
                        <select name="txtcurso_dictado" class="form-select" id="txtcurso_dictado">
                                <option selected value="{{ curso_dictado.id }}">{{ curso_dictado.curso }}</option>
                                {% for c in cursos %}
                                <option value="{{c.id}}">{{c.curso}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="txtfecha" class="form-label">Fecha: </label>
                        <input type="date" name="txtfecha" value="{{datos.fecha|date:'Y-m-d' }}" class="form-control" id="txtfecha">
                    </div>
                    <div class="mb-3">
                        <label for="txthora_inicio" class="form-label">Hora de Inicio:</label>
                        <input type="time" name="txthora_inicio" class="form-control" id="txthora_inicio" value="{{datos.hora_inicio|date:'H:i'}}">
                    </div>
                    <div class="mb-3">
                        <label for="txthora_fin" class="form-label">Hora de Fin:</label>
                        <input type="time" name="txthora_fin" class="form-control" id="txthora_fin" value="{{datos.hora_fin|date:'H:i'}}">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}